/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Import the Bootstrap framework CSS */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.green-btn {
  background-color: #27ae60;
  color: white;
}
.green-btn:hover, .green-btn:focus {
  background-color: transparent;
  color: black;
  border-color: #27ae60;
}
.no-bottom {
  margin-bottom: 0 !important;
}
.custom-nav {
  background-color: transparent;
}
#footer-main {
  clear: both;
  width: 100%;
  background-color: #E1E4E4;
  padding: 1.5rem;
}
html {
  padding: 0;
}
